:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* ### Neutral */
    --dark-blue: hsl(234, 12%, 34%);
    --grayish-blue: hsl(229, 6%, 66%);
    --light-gray: hsl(0, 0%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    padding: 90px 30px 55px;
    color: var(--grayish-blue);
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    padding: 0 5px;
}

.main-info h1 {
    color: var(--dark-blue);
    font-weight: 200;
    font-size: 1.45rem;
}

.main-info h1 span {
    font-weight: 600;
}

.main-info h2 {
    font-weight: 400;
    font-size: .9rem;
    margin-top: 12px;
    margin-bottom: 70px;
    line-height: 1.5rem;
}

p {
    line-height: 1.4rem;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    max-width: 310px;
    background-color: white;
    margin-bottom: 25px;
    border-radius: .4rem;
    text-align: left;
    padding: 25px;
    box-shadow: hsl(228, 45%, 44%, 0.1) 0px 20px 25px -3px, hsl(212, 86%, 64%, 0.1) 0px 10px 10px -3px;
    ;
}

.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.card-icon img {
    width: 60px;
    height: auto;
}

.card h2 {
    font-size: 1.2rem;
    color: var(--dark-blue);
}

.card p {
    font-size: .8rem;
    margin-bottom: 35px;
}

#card-1 {
    border-top: solid 4px var(--cyan);
}

#card-2 {
    border-top: solid 4px var(--red);
}

#card-3 {
    border-top: solid 4px var(--orange);
}

#card-4 {
    border-top: solid 4px var(--blue);
}


/* Attributions */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 1120px) {
    main {
        padding: 90px 0 55px;
    }
    .main-info h1 {
        font-size: 2.15rem;
    }
    .main-info h2 {
        margin-bottom: 60px;
    }
    .cards {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1090px;
        height: 555px;
        align-items: center;
    }
    .card {
        position: absolute;
        min-width: 344px;
        height: 244px;
        padding: 30px;
    }
    #card-1 {
        top: 25%;
        left: 0;
    }
    #card-2 {
        top: 0;
    }
    #card-3 {
        bottom: 0;
    }
    #card-4 {
        right: 0;
        top: 25%;
    }
    .card p {
        margin-bottom: 45px;
    }
    .card h2 {
        margin-bottom: 10px;
    }
}
